---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cliches">
    <main class="max-w-5xl mx-auto">
        <div class="flex flex-col items-center justify-center">
            <section>
                <h1 class="text-4xl font-bold px-4 py-4 text-center">Cliches</h1>
                <p class="text-xl px-4 py-4 text-justify" >
                    Con más de 35 años de experiencia en la industria gráfica, Chemence
                    Graphics participa significativamente en la evolución del mundo del
                    packaging industrial, tanto para el cartón ondulado como para el envase
                    flexible, aportando innovaciones y soluciones a las necesidades de los
                    sectores como el farmacéutico, cosmético, alimentario, o agrícola entre
                    otros. Nuestro grupo ofrece una presencia de mercado global y un equipo
                    de profesionales a su servicio, que a través de la creatividad,
                    dedicación y determinación, le acompañan en la optimización de sus
                    recursos y ambiciones tanto a nivel local como europeo.
                </p>
            </section>
        </div>
    </main>
</Layout>
