---
import Layout from "../layouts/Layout.astro";
import ServicesCard from "../components/ServicesCard.astro";
---

<Layout title="Servicios">  
  <main class="max-w-5xl mx-auto">
    <div class="flex flex-col items-center justify-center">
      <section>
        <h1 class="text-4xl font-bold px-4 py-4 text-center">Servicios</h1>
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
          <ServicesCard
            type="Preimpresión"
            description="Soluciones para una excelente calidad en su impresión"
            link="Preimpresion"
          />
          <ServicesCard
            type="Clichés"
            description="Soluciones flexográficas para cartón ondulado y envase flexible"
            link="Cliches"
            />
          <ServicesCard
            type="Troqueles"
            description="Servicio completo de troqueles"
            link="Troqueles"
          />
        </div>
      </section>
    </div>
  </main>
</Layout>
