---
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 w-full lg:py-12 lg:px-6">
  <div class="mx-auto flex justify-around items-center">
    <a href="/" class="flex iten-center justify-center"
      ><img
        src="http://chemencegraphics.com/wp-content/uploads/2017/07/chemencegraphics-web.png"
        alt="Chemence Graphics Logo"
        aria-label="Chemence Graphics Logo"
      />
    </a>
    <nav
      class="flex flex-col items-center justify-between text-center md:flex-row gap-12"
    >
      <ul class="flex gap-4 md:gap-12">
        <HeaderButton text="Inicio" />
        <HeaderButton text="Productos" />
        <HeaderButton text="Servicios" />
        <HeaderButton text="Contacto" />
      </ul>
    </nav>
  </div>
</header>
