---
const { title, description, link } = Astro.props;
---

<div
  class="h-48 w-64 p-6 md:mb-8 mb-2 rounded-lg shadow-sm bg-white border-2 border-primary hover:border-secondary hover:scale-105 transition-all duration-300 flex flex-col"
>
  <div class="flex flex-col items-center gap-6 mb-4">
    <img src="/images/hero-image.webp" alt="" width="10" height="10" />
    <h5 class="text-sm md:text-md font-bold tracking-tight text-primary">
      {`${title}`}
    </h5>
    
  </div>
  <p class="font-normal text-primary tracking-tight text-sm">
    {`${description}`}
  </p>
</div>

  <!--<a
    href={`${link}`}
    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-secondary rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300"
  >
    Ver más
    <svg
      class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg>
  </a>-->