---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Política de Privacidad">
  <main class="max-w-5xl mx-auto">
    <div class="flex flex-col items-center justify-center">
      <section>
        <h1 class="text-4xl font-bold px-4 py-4 text-center">
          Política de Privacidad
        </h1>
        <p class="text-xl px-4 py-4 text-justify">
          <b>AVISO LEGAL</b>

          El Aviso Legal y Política de Privacidad de CHEMENCE GRAPHICS SPAIN,
          S.L.
          <ol>
            <li>Titularidad del dominio <b>WWW.CHEMENCEGRAPHICS.COM </b></li>
          </ol>
          En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad
          de la Información y del Comercio Electrónico (LSSICE), se informa a los
          usuarios que la titularidad de este dominio es del: Titular: CHEMENCE GRAPHICS
          SPAIN, S.L. Domicilio social: C/ Montilla, 5-7, 08970 Sant Joan Despí (Barcelona)
          Telf: +34 477 49 00 Correo electrónico: <a
            href="mailto:info@chemencegraphics.com">info@chemencegraphics.com</a
          >

          REGISTRADA en el Registro Mercantil de Barcelona, Tomo 39.444, Folio
          25 y Hoja B-345856, Inscrip. 1ª, con C.I.F.B66250085. El acceso y la
          utilización del Sitio Web atribuye la condición de usuario del Sitio
          Web (en adelante, el “Usuario”) e implica la aceptación de todas las
          condiciones incluidas en este Aviso Legal así como de sus
          modificaciones, dado que CHEMENCE GRAPHICS SPAIN, S.L. (en adelante,
          CHEMENCE ) se reserva la facultad de efectuar, en cualquier momento y
          sin necesidad de previo aviso, modificaciones y actualizaciones de la
          información contenida en la web, de la configuración y de la
          presentación de ésta y de las condiciones de acceso. Por tanto, el
          Usuario debe leer siempre el presente Aviso Legal en cada una de las
          ocasiones en que acceda al Sitio Web, ya que éste y sus condiciones de
          uso recogidas en el presente Aviso Legal pueden sufrir modificaciones.
          En cualquier caso el mero hecho del uso y navegación por el Sitio Web
          supondrá siempre la aceptación como Usuario sin ningún tipo de
          reservas de todas y cada una de las condiciones generales de acceso y
          uso presentes.
          <ol start="2">
            <li><b> Propiedad intelectual e industrial</b></li>
          </ol>
          Todos los contenidos existentes en la web , como pueden ser a título meramente
          enunciativo y no limitativo, los textos, fotografías, gráficos, vídeos,
          imágenes, iconos, tecnología, software, links y demás contenidos audiovisuales
          o sonoros, así como su diseño gráfico y códigos fuente, son propiedad CHEMENCE
          , que dispone en su caso del derecho de uso y explotación y, en tal sentido,
          se convierten en obras protegidas por la legislación aplicable en materia
          de propiedad intelectual e industrial, nacional e internacional vigente
          en cada momento, por lo que no puedan entenderse cedidos al Usuario ninguno
          de los derechos de explotación reconocidos por la normativa vigente en
          materia de propiedad intelectual sobre los mismos. Por tanto, en base a
          la legislación en materia de propiedad intelectual y las disposiciones
          vigentes en cada momento, queda terminantemente prohibida la explotación
          total o parcial de cualquiera de los contenidos que aparecen en la web
          así como la copia, reproducción, adaptación, modificación o transformación
          de los contenidos de la web, y en su caso la distribución y la comunicación
          pública, incluida su modalidad de puesta a disposición, de la totalidad
          o parte de los Contenidos, con fines comerciales, en cualquier soporte
          y por cualquier medio técnico, sin la autorización expresa y por escrito
          CHEMENCE. Las marcas, nombres comerciales o signos distintivos son titularidad
          de CHEMENCE, sin que pueda entenderse que el acceso al Sitio Web atribuya
          ningún derecho sobre las citadas marcas, nombres comerciales y/o signos
          distintivos. Por tanto, el simple acceso por el Usuario a la web, conlleva
          su compromiso a respetar los derechos de propiedad intelectual e industrial
          titularidad de CHEMENCE.
          <ol start="3">
            <li><b> Hiperenlaces y/o Links</b></li>
          </ol>
          Entre los contenidos existentes en la web, podrían incluirse enlaces con
          otras webs gestionadas por terceros, con objeto de facilitar el acceso
          del usuario a la información intercambiable a través de Internet. CHEMENCE
          no se responsabiliza de la existencia de enlaces entre terceros y otras
          webs ajenas a CHEMENCE y los enlaces que se pudieran facilitar a través
          de la web tienen finalidades informativas para el usuario de la web, pero
          en ningún caso situarían a CHEMENCE en una posición de garante y/o de parte
          ofertante de los servicios y/o información que se puedan ofrecer a terceros
          por medio de los enlaces y, por tanto, CHEMENCE no se hace responsable
          por los daños producidos por la ilicitud, calidad, desactualización, indisponibilidad,
          error e inutilidad de los contenidos y/o servicios de los Sitios Enlazados
          ni por cualquier otro daño. Por lo tanto CHEMENCE se exime de cualquier
          responsabilidad por los servicios y/o información que se preste en otras
          páginas web enlazadas con esta web. Advertir al Usuario que en el supuesto
          de que considere que existe un Sitio Enlazado con contenidos ilícitos o
          inadecuados podrá comunicárselo a CHEMENCE mediante correo electrónico.
          Por último, queda prohibida la introducción de hiperenlaces con fines publicitarios,
          comerciales o de asociación a páginas web ajenas a CHEMENCE que permitan
          el acceso a la web de CHEMENCE sin consentimiento y/o autorización expresa.
          En el caso de su autorización por parte de CHEMENCE se establecerá las
          condiciones para introducir enlaces desde sus páginas al sitio web de CHEMENCE.
          <ol start="4">
            <li><b> Condiciones de uso del Sitio Web</b></li>
          </ol>
          4.1 General El Usuario reconoce y acepta que el acceso y uso del Sitio
          Web, es libre y voluntaria realizándose bajo su exclusiva responsabilidad.
          Por lo tanto el Usuario se obliga a utilizar la web, de forma correcta
          y lícita de conformidad con la Ley, el presente Aviso Legal y la buena
          fe y el orden público, absteniéndose de utilizar la web de cualquier forma
          que pueda impedir, dañar o deteriorar el normal funcionamiento, los bienes
          y derechos e intereses de CHEMENCE , sus proveedores, el resto de usuarios
          o, en general, de cualquier tercero o que de cualquier otra forma sobrecarguen,
          dañen o inutilicen las redes, servidores y demás equipos informáticos (hardware)
          o productos y aplicaciones informáticas (software) de CHEMENCE o de terceros,
          por lo que el Usuario responderá frente a CHEMENCE o frente a terceros
          de cualesquiera daños y perjuicios que pudieran causarse como consecuencia
          del incumplimiento de dichas obligaciones. Durante la utilización del sitio
          web por el Usuario, quedarán también prohibidas de forma enunciativa pero
          no limitativo, las siguientes acciones, que podrán ser modificadas:
          <ul>
            <li style="font-weight: 400;">
              La utilización de virus informáticos o cualquier archivo o
              programa diseñado para interrumpir, dañar, o limitar el
              funcionamiento de la web, de cualquiera de los servicios o redes
              de CHEMENCE, de cualquier software, hardware o equipo de
              telecomunicaciones, o dañar u obtener acceso no autorizado a los
              datos u otra información de CHEMENCE o cualquier tercero.
            </li>
            <li style="font-weight: 400;">
              Suplantar identidades, interferir o interrumpir el servicio,
              servidores o redes conectadas a los servicios o incumplir
              cualquiera de los requisitos o regulaciones de redes conectadas a
              los servicios.
            </li>
            <li style="font-weight: 400;">
              Prohibición de utilizar identidades falsas, y suplantar la
              identidad de otros en la utilización de la web o de cualquiera de
              sus servicios, así como la utilización de contraseñas o claves de
              acceso de terceros o de cualquier otra forma.
            </li>
            <li style="font-weight: 400;">
              Falsificar o alterar cualquier información de CHEMENCE.
            </li>
            <li style="font-weight: 400;">
              La prohibición de introducir, almacenar o difundir, en la web o
              desde ésta, cualquier información contraria a la ley, normas,
              costumbres y orden público, así como cualquier material que pueda
              ser difamatorio, injurioso, obsceno, amenazador, xenófobo,
              incitador a la violencia, a la discriminación por razón de raza,
              sexo, ideología, religión o que de cualquier forma, atente contra
              la moral, el orden público, los derechos fundamentales, las
              libertades públicas, el honor, la intimidad o la imagen de
              terceros y, en general, la normativa vigente.
            </li>
            <li style="font-weight: 400;">
              No realizar actividades publicitarias o de explotación comercial a
              través de la web, y no utilizar los contenidos y la información
              para remitir publicidad, enviar mensajes con cualquier otro fin
              comercial ni para recoger o almacenar datos personales de
              terceros.
            </li>
            <li style="font-weight: 400;">
              Colaborar con un tercero para realizar cualquiera de las conductas
              descritas.
            </li>
          </ul>
          4.2 En relación con los contenidos y la Propiedad intelectual e industrial,
          a parte de las manifestadas en el correspondiente apartado las siguientes:
          <ul>
            <li style="font-weight: 400;">
              No reproducir de ninguna manera, ni siquiera mediante un
              hiperenlace, la web de CHEMENCE ni ninguno de sus contenidos, si
              no es mediante autorización expresa y por escrito de CHEMENCE.
            </li>
            <li style="font-weight: 400;">
              No suprimir, eludir o manipular el copyright y demás datos
              identificativos de los derechos de sus titulares incorporados a
              los contenidos, así como los dispositivos técnicos de protección,
              o cualesquiera de los mecanismos de información que puedan
              contener los contenidos.
            </li>
            <li style="font-weight: 400;">
              No alterar, reprogramar, modificar, adaptar ni traducir el código
              fuente de esta página web.
            </li>
            <li style="font-weight: 400;">
              Se considerará copia no autorizada cualquier reproducción parcial
              o total del código fuente de la página web en cualquier soporte.
            </li>
            <li style="font-weight: 400;">
              Estará prohibido también, reproducir o copiar para uso privado los
              Contenidos que puedan ser considerados como software o base de
              datos de conformidad con la legislación vigente en materia de
              propiedad intelectual, así como su comunicación pública o puesta a
              disposición de terceros cuando estos actos impliquen
              necesariamente la reproducción por parte del Usuario o de un
              tercero
            </li>
            <li style="font-weight: 400;">
              No introducir, almacenar o difundir mediante la web cualquier
              contenido que infrinja derechos de propiedad intelectual,
              industrial o secretos empresariales de terceros y, en general,
              ningún contenido del cual no ostentará, de conformidad con la ley,
              el derecho a poner a disposición de terceros.
            </li>
            <li style="font-weight: 400;">
              Colaborar con un tercero a realizar cualquiera de las conductas
              descritas.
            </li>
          </ul>
          <ol start="5">
            <li><b> Exclusión de responsabilidad</b></li>
          </ol>
          CHEMENCE en ningún caso será responsable de las circunstancias que a continuación
          se relacionan, a título enunciativo y no limitativo, ni tampoco de los
          daños que se puedan derivar.
          <ul>
            <li style="font-weight: 400;">
              CHEMENCE no asume ninguna responsabilidad por el retraso, borrado,
              entrega errónea, o fallo al guardar comunicaciones de Usuarios o
              configuraciones personales.
            </li>
            <li style="font-weight: 400;">
              CHEMENCE tampoco se responsabiliza de las decisiones tomadas a
              partir de la información suministrada en el Sitio Web ni de los
              daños y perjuicios producidos en el Usuario o terceros con motivo
              de actuaciones que tengan como único fundamento la información
              obtenida en el Sitio Web.
            </li>
            <li style="font-weight: 400;">
              CHEMENCE se reserva el derecho a negar a proporcionar el servicio
              a cualquier persona por cualquier motivo y/o interrumpir el
              servicio en su totalidad o en parte en cualquier momento, con o
              sin preaviso.
            </li>
            <li style="font-weight: 400;">
              La utilización del Sitio Web está sujeta a toda la normativa
              aplicable y el Usuario será el único responsable del contenido de
              sus comunicaciones a través del Sitio Web.
            </li>
            <li style="font-weight: 400;">
              El acceso al Sitio Web no implica la obligación por parte de
              CHEMENCE de controlar la ausencia de virus, gusanos o cualquier
              otro elemento informático dañino. Corresponde al Usuario, en todo
              caso, la disponibilidad de herramientas adecuadas para la
              detección y desinfección de programas informáticos dañinos.
            </li>
            <li style="font-weight: 400;">
              CHEMENCE no se responsabiliza de los daños producidos en los
              equipos informáticos de los Usuarios o de terceros durante la
              prestación del servicio del Sitio Web.
            </li>
            <li style="font-weight: 400;">
              CHEMENCE no otorga ninguna garantía ni se hace responsable, en
              ningún caso, de los daños y perjuicios de cualquier naturaleza que
              pudieran derivarse del acceso o uso de los Contenidos o del Sitio
              Web.
            </li>
          </ul>
          CHEMENCE no será responsable tampoco de:
          <ul>
            <li style="font-weight: 400;">
              Los posibles errores de seguridad que se pudieran producir por el
              hecho de utilizar ordenadores infectados por virus informáticos;
            </li>
            <li style="font-weight: 400;">
              Del uso por parte de terceros de elementos propiedad de CHEMENCE
              que confundan su personalidad;
            </li>
            <li style="font-weight: 400;">
              Las infracciones de los derechos de propiedad industrial e
              intelectual por parte de terceros;
            </li>
            <li style="font-weight: 400;">
              De los incumplimientos de terceros que puedan afectar a los
              usuarios de la web de CHEMENCE ;
            </li>
            <li style="font-weight: 400;">
              La falta de funcionamiento de la web o de alguno de sus servicios
              por causas ajenas de CHEMENCE ;
            </li>
            <li style="font-weight: 400;">
              Las consecuencias derivadas del mal funcionamiento del navegador o
              por uso de versiones no actualizadas de éste;
            </li>
            <li style="font-weight: 400;">
              La existencia de virus, programas maliciosos o lesivos en los
              Contenidos;
            </li>
            <li style="font-weight: 400;">
              Del uso ilícito, negligente, fraudulento, contrario a los términos
              del presente Aviso Legal, o a la buena fe y el orden público, del
              Sitio Web o de sus Contenidos, por parte de los Usuarios;
            </li>
            <li style="font-weight: 400;">
              Los daños o perjuicios de cualquier tipo producidos en el Usuario
              que traigan causa de fallos o desconexiones en las redes de
              telecomunicaciones, fallos informáticos u otros sistemas
              electrónicos que produzcan la suspensión, cancelación o
              interrupción del servicio del Sitio Web, durante la prestación del
              mismo o con carácter previo.
            </li>
          </ul>
          En referencia a los contenidos y servicios enlazados a través del Sitio
          Web nos remitimos a lo establecido en el apartado 3 del presente aviso
          legal referente a los Hiperenlaces y/o Links.
          <ol start="6">
            <li>
              <b>
                Consultas, reclamaciones y comunicación de actividades de
                carácter ilícito e inadecuado.</b>
            </li>
          </ol>
          Para cualquier sugerencia, consulta, queja o reclamación, el usuario puede
          dirigirse de CHEMENCE, a través de los canales de comunicación actuales
          o futuros que determine en cada momento, tales como:
          <ul>
            <li style="font-weight: 400;">
              Correo postal: C/ Montilla, 5-7 08970 - Sant Joan Despí
            </li>
            <li style="font-weight: 400;">Tel. 902080998</li>
            <li style="font-weight: 400;">
              Correo electrónico: <a href="mailto:info@kidsandus.es%20">
                info@chemencegraphics.com
              </a>
            </li>
          </ul>
          Referidos canales de comunicación también serán válidos para la comunicación
          por parte de cualquier Usuario que tuviera conocimiento de que los Sitios
          Enlazados remiten a páginas cuyos contenidos o servicios son ilícitos,
          nocivos, denigrantes, violentos o contrarios a la moral podrá ponerse en
          contacto con CHEMENCE. Por otra parte la recepción por parte de CHEMENCE
          de cualquier comunicación no supondrá, según lo dispuesto en la Ley 34/2002,
          el conocimiento efectivo de las actividades y/o contenidos indicados por
          el Usuario como comunicante.
          <ol start="7">
            <li><b> Legislación y jurisdicción competente</b></li>
          </ol>
          El presente Aviso Legal se rige en todos y cada uno de sus extremos por
          la legislación nacional vigente en cada momento para la resolución de cualquier
          controversia en relación con el presente Aviso Legal o la relación entre
          las mismas. En el supuesto de que surja cualquier conflicto o discrepancia
          en la interpretación o aplicación de las condiciones legales presentes,
          los juzgados o tribunales que, en su caso, conocerán el asunto, serán los
          que dispongan la normativa legal aplicable en materia de jurisdicción competente,
          pero que en el caso de que el Usuario tenga su domicilio fuera de España,
          ambas partes se someten con renuncia expresa a cualquier otro fuero que
          les pudiera corresponder, en los Juzgados y Tribunales de Barcelona.
          <ol start="8">
            <li><b> Política de privacidad</b></li>
          </ol>
          De acuerdo con la legislación vigente en materia de Protección de Datos
          de Carácter Personal se entiende por datos personales "cualquier información
          concerniente a personas físicas identificadas o identificables". CHEMENCE
          GRAPHICS SPAIN, S.L.., con domicilio social en C/ Montilla, 5-7, 08970
          Sant Joan Despí (Barcelona), Telf: +34 902080998 o al correo electrónico
          info@chemencegraphics.com (en adelante, CHEMENCE ) cumple con las exigencias
          establecidas en la legislación vigente sobre Protección de Datos de Carácter
          Personal y normativa de desarrollo. El objeto de la presente política de
          privacidad, es informar acerca de la política de protección de datos de
          carácter personal del sitio web <a
            href="http://www.chemencegraphics.es">www.chemencegraphics.es</a
          > (en adelante, “Sitio Web”) para que Usted determine libre y voluntariamente
          si desea facilitar a CHEMENCE los los datos personales que le podamos requerir
          o podamos obtener de Usted con ocasión de su acceso y uso del Sitio Web.
          Qué datos de carácter personal se recopilan. Los únicos datos personales
          a los que CHEMENCE tendrá acceso serán aquéllos que el usuario facilite
          voluntariamente. En este sentido es preciso que el usuario conozca que
          para el acceso de algunos servicios ofrecidos a través de la web, se le
          solicitarán datos de carácter personal. Si no facilita los mismos, no podrá
          acceder ni utilizar los referidos servicios y contenidos. CHEMENCE conservará
          los datos proporcionados por los usuarios y los obtenidos automáticamente
          de forma indefinida para el uso correcto de la aplicación. En cumplimiento
          con lo establecido con la legislación vigente en materia de protección
          de datos, informamos que, mediante la aceptación de la presente Política
          de Privacidad y de la cumplimentación de formularios, el Usuario acepta
          que sus datos personales queden incorporados y tratados en uno o varios
          ficheros, debidamente registrado en la Agencia de Protección de Datos (o
          la autoridad competente) cuya titularidad y responsabilidad corresponde
          a CHEMENCE con el fin de prestarle los servicios e información solicitados,
          poder realizar encuestas y para comunicarle cualquier información que pueda
          ser de su interés, así como realizar la gestión de selección de personal
          en el caso de haber enviado un curriculum. Por lo tanto, es importante
          que los datos facilitados sean ciertos, veraces y lícitos, reservándose
          CHEMENCE el derecho de excluir de los servicios a aquellos usuarios que
          hayan facilitado datos falsos, sin perjuicio de que se puedan iniciar acciones
          legales, comprometiéndose Usted a informar de los cambios que sus datos
          personales puedan sufrir, con el fin de que CHEMENCE tenga actualizado
          en todo momento los mismos. Por lo tanto, al aceptar la presente Política
          de Privacidad, el Usuario acepta su contenido y otorga su consentimiento
          expreso al tratamiento de los datos personales facilitados con las finalidades
          anteriormente indicadas. Por otra parte se informa que todos los campos
          que aparecen en los formularios serán de obligada cumplimentación, de tal
          modo que la omisión de alguno de ellos podrá comportar la imposibilidad
          de que podamos atender su solicitud, salvo que en el propio formulario
          haya datos de cumplimentación voluntaria. Asimismo, cuando el usuario facilita
          sus datos de carácter personal utilizando el e-mail de contacto/s que pudieran
          aparecer en el sitio web, está autorizando expresamente a CHEMENCE al tratamiento
          de sus Datos Personales para poder atender sus peticiones de servicios.
          En cuanto a la seguridad y protección, informarle que sus datos serán tratados
          con los medios técnicos, nivel de seguridad y grado de protección que legalmente
          sea exigido para evitar la pérdida, mal uso, alteración, acceso no autorizado
          y robo de los datos que el usuario facilite a través del Sitio Web y que
          se tratarán con la debida confidencialidad y deber de secreto. La aceptación
          del Usuario para el tratamiento de sus datos por parte de CHEMENCE así
          como, para recibir comunicaciones comerciales vía electrónica en la forma
          establecida en este apartado, tendrá siempre el carácter de revocable sin
          efectos retroactivos, conforme a lo dispuesto en la legislación vigente.
          Los datos personales proporcionados se conservarán mientras se mantenga
          la relación mercantil y en su caso mientras no se solicite su supresión,
          por el Usuario. Por último se le informa que podrá ejercitar los derechos
          de acceso, rectificación, cancelación y oposición en los términos indicados
          en la normativa de protección de datos, contactando con CHEMENCE a través
          de la siguiente dirección de correo electrónico: <a
            href="mailto:info@chemencegraphics.com"
            >info@chemencegraphics.com
          </a> o por correo postal en la dirección C/ Montilla, 5-7, 08970 Sant Joan
          Despí (Barcelona) Telf: +34 902080998 y que en el caso de que hubiera sufrido
          algún tipo de injerencia en el ejercicio de sus derechos, Usted tiene la
          opción de presentar reclamación ante la autoridad competente, la Agencia
          Española de Protección de Datos.

          <b>MENORES DE EDAD </b>
          Mediante la web, CHEMENCE no recabará, ni tratará datos personales de menores
          de catorce (14) años. CHEMENCE se reserva el derecho de verificar, por
          los medios que considere más oportunos, la edad real de cualquier usuario
          que haya divulgado datos bajo el Sitio Web y en su caso denegar al referido
          usuario el acceso a los servicios ofrecidos y procederá a su cancelación
          y eliminación. Sin embargo, al resultar extremadamente complicado determinar
          la edad real de las personas que divulgan datos en el Sitio Web, si Ud.
          descubre que uno de sus hijos ha procedido a efectuar dicha divulgación,
          contacte con CHEMENCE en la siguiente dirección de correo electrónico <a
            href="mailto:info@chemencegraphics.es%20%20"
            >info@chemencegraphics.es</a
          >
          <h2>Chemence Graphics Spain S.L.</h2>
          <ul>
            <li>+34 93 477 49 00</li>
            <li>info@chemencegraphics.com</li>
            <li>Carrer Montilla, 5-7 08970 Sant Joan Despí Barcelona</li>
          </ul>
          <ul>
            <li><a href="/preimpresion"> Preimpresión </a></li>
            <li><a href="/cliches"> Clichés para flexografía </a></li>
            <li><a href="/troqueles"> Troqueles para cartón ondulado </a></li>
            <li><a href="/preimpresion"> Asistencia Técnica </a></li>
            <li>
              <a
                href="http://b2b.chemencegraphics.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Acceso Clientes
              </a>
            </li>
          </ul>
          <h2>Síguenos en nuestras redes</h2>
          <a
            href="https://twitter.com/ChemenceGraphic"
            target="_blank"
            rel="noopener noreferrer"
          >
          </a>
          <a
            href="https://www.linkedin.com/company-beta/9180251/"
            target="_blank"
            rel="noopener noreferrer"
          >
          </a>
          <img
            title="logos-iso"
            src="http://chemencegraphics.com/wp-content/uploads/elementor/thumbs/logos-iso-nblllspwpg3yly6ym04awh22r5bu0au6cugvt2r08w.png"
            alt="logos-iso"
            class="bg-primary"
          />
        </p>
      </section>
    </div>
  </main>
</Layout>
