---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Política de Calidad">
    <main class="max-w-5xl mx-auto text-justify">
        <div class="space-y-6">
        <h1 class="text-3xl font-normal text-primary mb-6">Política de calidad</h1>

        <div class="space-y-3">
            <h2 class="text-xl font-medium text-primary">1. Propósito y alcance</h2>
            <p class="text-sm text-primary leading-relaxed">
                El propósito de Chemence Graphics Spain, SLLU es fabricar y comercializar productos de impresión por flexografía que satisfagan las necesidades y expectativas de nuestros clientes, así como ofrecer soporte técnico y formativo a las partes interesadas, sin renunciar a los principios e intereses propios de la empresa y sus accionistas. El alcance del presente Manual es la norma ISO 9001:2015 a la que estamos sujetos.
            </p>
        </div>

        <div class="space-y-3">
            <h2 class="text-xl font-medium text-primary">2. Objetivos</h2>
            <p class="text-sm text-primary leading-relaxed">
                El sistema de calidad tiene como objetivos principales:
            </p>
            <ol class="space-y-2 text-sm text-primary leading-relaxed list-decimal pl-6">
                <li>Garantizar la satisfacción del cliente con nuestros productos y adaptarnos a sus necesidades y requerimientos.</li>
                <li>Proporcionar el asesoramiento adecuado a nuestros clientes para encontrar la mejor fórmula de colaboración entre ambas partes.</li>
                <li>Seguir los requisitos legales y reglamentarios de nuestros grupos de interés.</li>
                <li>Implementar procesos de mejora continua, partiendo de los resultados de auditorías internas y del análisis de la evolución de los indicadores definidos.</li>
                <li>Desarrollar un plan de formación, elaborado para la mejora de los conocimientos y habilidades de nuestro personal, implicándolo a través de reuniones de mejora y formación. Se atenderán sus sugerencias y se creará un clima de participación, comunicación y trabajo en equipo.</li>
                <li>Definir los riesgos de nuestro sistema para establecer una estrategia de control de la calidad que nos permita reducirlos.</li>
                <li>Revisar las líneas estratégicas de la organización, evaluando periódicamente el grado de cumplimiento de los objetivos y valorando el impacto de las medidas de mejora en nuestros procesos.</li>
                <li>Valorar y mejorar nuestro Sistema de Gestión de la Calidad, para garantizar un mejor producto y servicio a nuestros clientes.</li>
            </ol>
        </div>


        <div class="space-y-3">
            <h2 class="text-xl font-medium text-primary">3. Revisiones</h2>
            <p class="text-sm text-primary leading-relaxed">
                La Dirección se compromete a revisar la Política de Calidad anualmente a través de un comité de calidad, evaluando la implantación y entendimiento de esta. El comité de calidad estará formado por el comité de gerencia.
            </p>
        </div>
    </div>
    </main>
</Layout>