<section class="bg-white pt-10 pb-10">
  <div class="flex items-center justify-center border-3 border-secondary w-10">
  </div>
  <div
    class="max-w-5xl mx-auto flex flex-col items-center justify-center gap-6"
  >
    <h1
      class="text-4xl py-4 text-secondary flex flex-col items-center justify-center gap-2"
    >
      Nuestros<span class="font-bold block"> Proyectos</span>
    </h1>
  </div>
</section>
