---
import HeaderButton from "../components/HeaderButton.astro";
---

<header class="py-8 px-4 w-full lg:py-12 lg:px-6 bg-white">
  <div class="mx-auto flex justify-around items-center">
    <a href="/" class="flex iten-center justify-center"
      ><img
        class="w-36 h-auto drop-shadow drop-shadow-black/30 select-none"
        src="http://chemencegraphics.com/wp-content/uploads/2017/07/chemencegraphics-web.png"
        alt="Chemence Graphics Logo"
        aria-label="Chemence Graphics Logo"
      />
    </a>
    <nav
      class="flex flex-col items-center justify-between text-center md:flex-row gap-12"
    >
      <ul class="flex gap-4 md:gap-12">
        <HeaderButton text="Sobre Nosotros" page="/" />
        <HeaderButton text="Servicios" page="/services" />
        <HeaderButton text="Troqueles" page="/preimpresion" />
      </ul>
    </nav>
    <button class="bg-primary text-white px-4 py-2 rounded hover:bg-primary/80 transition-transform duration-300">Contacto</button>
  </div>
</header>
