---
import ServicesCard from "../components/ServicesCard.astro";
---

<section class="max-w-5xl mx-auto">
    <h1 class="text-4xl font-bold pt-20 py-4 text-center">
        Servicios
    </h1>
    <div class="flex flex-col items-center justify-center md:flex-row gap-4">
        <ServicesCard
            title="Diseño de packaging"
            description="Soluciones para una excelente calidad en su impresión"
            link="Preimpresion"
        />
        <ServicesCard
            title="Gestión de la cadena gráfica"
            description="Soluciones flexográficas para cartón ondulado y envase flexible"
            link="Cliches"
        />
        <ServicesCard
            title="Gestión de flujos de trabajo"
            description="Servicio completo de troqueles"
            link="Troqueles"
        />
        <ServicesCard
            title="Servicios de preimpresión"
            description="Servicio completo de troqueles"
            link="Troqueles"
        />
        <ServicesCard
            title="Gestión del color"
            description="Servicio completo de troqueles"
            link="Troqueles"
        />
    </div>
</section>
