<section class="relative w-full h-auto">
  <img
    title="hero-image"
    src="/images/hero-image.webp"
    alt="hero-image"
    class="w-full h-auto mask-b-from-85% mask-b-to-100% relative z-0"
  />
  <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center z-10 px-4">
    <h1 class="text-4xl md:text-7xl font-bold mb-4 drop-shadow-lg">Innovaciones en Flexografía</h1>
    <h1 class="text-3xl md:text-5xl font-semibold drop-shadow-lg">Diseño de packaging</h1>
  </div>
</section>
