<section class="max-w-5xl mx-auto mt-10 mb-10 bg-white">
  <div class="flex flex-col md:flex-row items-center justify-between gap-6 md:gap-8">
    <div class="flex flex-col items-center justify-center text-left tracking-wide leading-8">
      <h1 class="text-4xl py-4">
        Más de <span class="font-bold">50 años</span> de experiencia en el sector gráfico
      </h1>
      <p class="text-md text-gray-500">
        En <span class="text-secondary">Chemence Graphics</span> contamos con más de 50 años de experiencia
        ofreciendo soluciones innovadoras en el ámbito de la preimpresión, el
        diseño y la fabricación de planchas flexográficas
      </p>
    </div>
    <div class="flex">
      <img src="/images/who.webp" alt="Quiénes Somos" />
    </div>
  </div>
</section>
